body{
    background-color: rgb(136, 84, 119);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.holder{
    width: 100%;
    margin: 30px auto;
    background-color: rgb(233, 165, 140);
    position: relative;
}
.stoptimer{
    padding: 60px 0px;
    text-align: center;
}
.block{
    background: transparent;
    max-width: 600px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
}
.btn{
    margin-top: 30px;
    margin-left: 10px;
    border: 5px solid;
    padding: 12px 20px;
    font-size: 20px;
    text-transform: capitalize;
    width: 150px;
    cursor: pointer;
    color: tomato;
    background-color: wheat;
}